<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.contacts">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FireContacts">
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.FireContacts.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.add_contact.AddContactActivity"
            android:label="@string/add_new_contact"
            android:theme="@style/Theme.FireContacts.NoActionBar">

        </activity>
        <activity
            android:name=".ui.home.contact_details.ContactDetailsActivity"
            android:label="@string/add_new_contact"
            android:theme="@style/Theme.FireContacts.NoActionBar" />
    </application>

</manifest>